.body{
    width: 100%;
height: 100%;
}
/* header */
.demo-site{
    width: 130px;
    height: 21px;   
    font-size: 27px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 90px;
 
}

.first-rectangle{
    width: 100%;
height: 130px;
background-color: #448ccb;
}
.first-nav nav{
    width: 474px;
height: 12px;
color:#adcde8;
font-family: "Open Sans";
font-size: 12px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
padding-top: 17px;
padding-left: 91px;

}
.first-nav a{
    color: #adcde8;
    
}
.second-nav{
    width: 433px;
height: 12px;
color: #ffffff;
font-family: "Open Sans";
font-size: 15px;
font-weight: 700;
line-height: 22px;
text-transform: uppercase;
padding-left: 45em;
margin-left: 11em;
margin-top: -12px;
}
.second-nav{
    width: 100em;
height: 12px;
color: #ffffff;
font-family: "Open Sans";
font-size: 15px;
font-weight: 700;
line-height: 22px;
text-transform: uppercase;

}
.second-nav a{
color: #ffffff;

}
/* dropdown */
.dropbtn {
background-color: #448ccb;    
    color: white;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e2123;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    margin-left: -3em;
    margin-top: 1em;

  }
  
  .dropdown-content a {
    color:#ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#ffffff;}
  .dropdown-content a:hover {color: #1e2123;}
  .dropdown-content a:hover {font-weight: bold;}
  .dropdown-content a:hover {text-decoration: none;}
  .dropdown:hover .dropdown-content {display: block;}
  
 
/* dropdown  end*/

/*  header end  */
/*  first body  */
.column-left{
    margin-top: 70px;
margin-left: 90px;
width: 320px;
height: 550px;
border: 3px solid #448ccb;
background-color: #448ccb;
}

.column-left h2{
width: 52px;
color: #ffffff;
font-family: 'Francois One', sans-serif;
font-size: 41px;
font-weight: 400;
text-transform: uppercase;
padding-top: 61px;
padding-bottom: 40px;
margin-left: 50px;
border-bottom: 8px solid #ffffff;
}
.column-left p{
    width: 180px;
    height: 149px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
margin-top: 40px;
margin-left: 51px;
}
#myBtn{
    margin-top: 110px;
    margin-left: 146px;
    width: 124px;
    height: 34px;
    border: 3px solid #ffffff;
    background-color: #3c92c3;
    color: #ffffff;
font-family: "Open Sans - Extrabold";
font-size: 15px;
text-transform: uppercase;
font-weight: bold;
}

.column-right{
    background-color: #d7d7d7;
    margin-top: 69px;
    margin-left: 127px;
}
.column-right img{
    width: 640px;
height: 328px;
}
.column-right h3{
    padding-top: 22px;
    padding-left: 81px;
color: #1e2123;
font-family: 'Francois One', sans-serif;
text-transform: uppercase;
font-weight: bold;

}
.column-right p{
    width: 564px;
    height: 102px;
    color: #1e2123;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    padding-left: 81px;
}
/*  first body end */

/* second body */
.second-rectangle{
    margin-top: 70px;
width: 1349px;
height: 561px;
background-color: #448ccb;
position: absolute;
}   

.left-text h2{
font-weight: bold;   
color: #ffffff;
font-family: 'Francois One', sans-serif;;
padding-top: 101px;
padding-left: 91px;
}
.left-text p{

width: 309px;
height: 244px;
color: #ffffff;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
line-height: 23px;
margin-left: 91px;
}
.right-text h3{
    width: 115px;
color: #ffffff;
font-family: 'Francois One', sans-serif;;
text-transform: uppercase;
margin-top: 103px;
margin-left: 91px;
font-weight: bold;

}
.right-text p{
    width: 546px;

color: #ffffff;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
line-height: 23px;
margin-left: 91px;
margin-top: 9px;

}
.third-rectangle{
    width: 795px;
    height: 280px;
    background-color: #ffffff;
    position: relative;
    margin-left: 475px;
    margin-top: 17em;
    padding-left: 3em;
}
.third-rectangle h3{
  
color: #1e2123;
font-family: 'Francois One', sans-serif;;
font-size: 16px;
font-weight: 400;
line-height: 20.02px;
font-weight: bold;
padding-top:34px;
}
.third-rectangle h4{

color: #1e2123;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
line-height: 23px;
}
.third-rectangle p{
color: #1e2123;
font-family: "Open Sans";
font-size: 14px;
font-style: italic;
line-height: 25px;
border-bottom: 1px solid black;
width: 278px;
}
.item-stuff{
    margin-top: 40px;
}

.third-rectangle h5 {
    color: #1e2123;
    font-family: 'Francois One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.02px;
    font-weight: bold;
    padding-top: 34px;
    padding-left:15px;
}
.third-rectangle h5 p {
color: #1e2123;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
line-height: 23px;
}
/* second body end*/
/* third body end*/

.forth-rectangle h3{
width: 50px;
color: #1e2123;
font-family: 'Francois One', sans-serif;
text-transform: uppercase;
font-weight: bold;
margin-top: 3.5em;
margin-left: 93px;
border-bottom: 5px solid black;
line-height: 97px;
}
.forth-rectangle p{
    width: 522px;
height: 241px;
color: #1e2123;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
/* Text style for "Cras feugi" */
line-height: 25px;
/* Text style for "Phasellus" */
line-height: 23px;
margin-top: 51px;
margin-left: 91px;
}
.forth-rectangle form{
    margin-top: 15em;
    font-weight: bold;
}
    .forth-rectangle textarea{
    width: 360px;
height: 182px;
border: 3px solid #e8e8e9;
background-color: #ffffff;
}
.forth-rectangle input{
    width: 360px;
    height: 50px;
    border: 3px solid #e8e8e9;
    background-color: #ffffff;
}
.send input{
    width: 62px;
height: 34px;
border: 3px solid #0c9aec;
background-color: #ffffff;
color:  #0c9aec;
font-weight: bold;
text-transform: uppercase;
}
.send.value {
width: 40px;
height: 12px;
color: #0c9aec;
font-family: 'Francois One', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 38px;
text-transform: uppercase;
}
/* third body end*/
/* footer */
.five-rectangle{
    width: 1300px;
height: 150px;
background-color: #1e2123;
margin-top: 83px;
}
.five-rectangle p{
    width: 618px;
    height: 61px;
    color: #858585;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.98px;
    padding-top: 40px;
    padding-left: 90px;
}
.footer-menu{
    margin-left: 178px;
    margin-top: 39px;
}

.footer-menu a{
    width: 354px;
    height: 11px;
    color: #ffffff;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
padding-left: 20px;
font-weight: bold;
}
.footer-menu p{
    /* Style for "© DEMOSITE" */
width: 276px;
height: 12px;
color: #ffffff;
font-family: "Open Sans";
font-size: 11px;
font-weight: 400;
line-height: 22px;
font-weight: 700;
margin-left: 141px;
}
/* footer end */
